.activity-calendar {
  background: #fff;
  --box-height: 100px;
  --box-width: 80px;
  padding: 20px;
}

.calendar-title {
  color: #000 !important;
  font-size: 3rem;
  font-weight: 700;
}

.calendar-row {
  display: flex;
  align-items: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.plant-name {
  color: #000 !important;
  font-size: 2rem;
  font-weight: 500;
  width: 30%
}

.month-container {
  height: var(--box-height);
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.month-box {
  height: var(--box-height);
  width: var(--box-width);
  border: #EDAC66 solid 1px;
}

/* Kuude filter */
.month-filter {
  display: flex;
  justify-content: flex-end;
  right: 0;
  width: 100%;
  padding: 10px;
}

.month-filter-btn {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;
  width: 70px;
  height: 48px;
  margin: 0 5px;
  transition: 0.3s;
}

/* Nuppude tausta värvid */
.month-filter-btn.winter {background-color: #90D4F6}
.month-filter-btn.spring {background-color: #C0D5C1}
.month-filter-btn.summer {background-color: #FEEFDE}
.month-filter-btn.autumn {background-color: #EDAC66}

.month-filter-btn.winter:hover {background-color: #BDE9FF}
.month-filter-btn.spring:hover {background-color: #DAE9DB}
.month-filter-btn.summer:hover {background-color: #FFF8F0}
.month-filter-btn.autumn:hover {background-color: #FFD19F}

/* Kalendri tausta värvid */
.winter {background-color: rgba(144, 212, 246, 0.1)}
.spring {background-color: rgba(192, 213, 193, 0.2)}
.summer {background-color: rgba(254, 239, 222, 0.2)}
.autumn {background-color: rgba(237, 172, 102, 0.15)}

/* Ümarad servad esimesele ja viimasele kastile */
.month-box:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.month-box:nth-child(12) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Kasvuperioodide markerid */
.period-marker {
  position: absolute;
  color: #000;
  font-size: calc(var(--box-height) * 0.20);
  line-height: calc(var(--box-height) * 0.3);
  width: calc(var(--box-width) * (var(--end) - var(--start) + 1)); /* Markeri laius arvutatakse vastavalt perioodi pikkusele */
  height: calc(var(--box-height) / 3);
  margin-left: calc((var(--start) - 1) * var(--box-width)); /* Markeri algus vastavalt kuule */
  padding: 0 5px;
  background-color: #C0D5C1;
  border-radius: 14px;
  z-index: 999;
}

/* Markerite värvid ja positsoonid */
.ettekasvatus {background-color: #C0D5C1;}
.otsekulv {background-color: #90D4F6; margin-top: calc(var(--box-height) / 3);}
.kasvuhoonesse {background-color: #64328A; margin-top: calc(var(--box-height) / 3 * 2); color: #fff;}
.oue {background-color: #EDAC66; margin-top: calc(var(--box-height) / 3 * 2);}

