.calendar {
  background: #fff;
}

.calendar-title {
  color: #000 !important;
  font-size: 3rem;
  font-weight: 700;
}

.plant-name {
  color: #000 !important;
  font-size: 2rem;
  font-weight: 700;
}

.month-container {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.month-box {
  height: 100px;
  width: 50px;
  border: #EDAC66 solid 1px;
}

/* Kalendri tausta värvid */
.winter {background-color: rgba(144, 212, 246, 0.1)}
.spring {background-color: rgba(192, 213, 193, 0.2)}
.summer {background-color: rgba(254, 239, 222, 0.2)}
.autumn {background-color: rgba(237, 172, 102, 0.15)}

/* Ümarad servad esimesele ja viimasele kastile */
.month-box:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.month-box:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}